:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: greenyellow;
}

body {
    margin: 20px;
    background: black;
}

main {
    max-width: 640px;
    margin: 0 auto;
    background: rgb(93, 97, 115);
    padding: 18px;
    border-radius: 6px;
    box-shadow: 0 2px 6px #102876;
}

h1 {
    margin-top: 0;
    font-size: 1.7rem;
}

button{
    padding: 8px 12px;
    margin-right: 8px;
    border: 1px solid #cfd;
    background: #102876;
    cursor: pointer;
    border-radius: 5px;
}

button:host {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

pre{
    background: #102876;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

.output{
    margin-top: 15px;
    white-space: pre-wrap;
    background: #102876;
    padding: 15px;
    border-radius: 5px;
    border: 2px dashed #d6d6d6;
}